# compose.yml:jeff
#
# syslog-ng Docker compose service configuration
#
# 1. https://hub.docker.com/r/linuxserver/syslog-ng
---

networks:
  traefik-proxy:
    attachable: true
    driver: overlay
    external: true
volumes:
  config:

services:
  syslog-ng:
    restart: unless-stopped
    image: lscr.io/linuxserver/syslog-ng:4.8.3
    container_name: syslog-ng-1
    env_file:
      - "./.env"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
      - config:/config:rw
      #- mounts/config/syslog-ng.conf:/config
    ports:
      - 514:5514/udp
      #- 601:6601/tcp
      #- 6514:6514/tcp
    #networks:
      #- traefik-proxy
    labels:
      # WARNING(JEFF): We do not have Traefik configured to accept UDP
      # or TCP routes as of this time. This must be implemented before
      # one can consider enabling the proxy settings below.
      - "traefik.enable=false"
      - "traefik.http.routers.syslog-ng-fs1.rule=Host(`syslogd.fs1.home`) && PathPrefix(`/`)"
      - "traefik.http.routers.syslog-ng-fs1.entrypoints=syslogd"
      - "traefik.http.services.syslog-ng-fs1.loadbalancer.server.port=514"
      - "traefik.http.routers.syslog-ng-fs1.service=syslog-ng-fs1"
      #- "traefik.http.routers.syslog-ng-fs1.tls.certresolver=staging-web-acme"

